@using Bolt.Common.Extensions
@using Carsales.Web.Features.Shared.SavedCars
@using Carsales.Web.Infrastructure.AssetMappers
@model Carsales.Web.Features.Listings.ListingViewModel
<div class="container listing-page">
    <div class="two-col">
        <div class="col-left">
            <div class="total-count">Total: @Model.Total</div>
            <ul class="listing">
                @foreach (var item in Model.Items)
                {
                    <li>
                        <img width="280" height="185" src="//carsales.li.csnstatic.com/carsales/@item.Photo?aspect=centered&height=185&width=280" />
                        <h2>
                            <a href="/details/@item.Title.ToSlug()/@item.NetworkId">@item.Title</a>
                        </h2>
                        <div class="data"><span class="label">Price:</span> $@item.Price</div>
                        <div class="data"><span class="label">Odometer:</span> @item.Odometer</div>
                        <a href="#" class="btn @(item.IsSaved ? "saved" : "")">@(item.IsSaved ? "Saved" : "Save")</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-right">
            @{ Html.RenderActionForSavedCars(); }
        </div>
    </div>
    
</div>

@section Styles
{
    @Html.AssetCss("listing-page")
}
@section BottomScripts
{
    @Html.AssetJs("listing-page")
}
