<!DOCTYPE html>
<html>
<head>
    @if (IsSectionDefined("Head"))
    {
        @RenderSection("Head")
    }
    else
    {
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
    }
    @RenderSection("Styles", false)
    @RenderSection("TopScripts", false)
</head>
<body>
    @RenderBody()
    @RenderSection("BottomScripts", false)
</body>
</html>