@using Carsales.Web.Features.Shared.SiteNav
@{
    Layout = "~/Features/Shared/Views/_LayoutBasic.cshtml";
    var siteNav = Html.SiteNav();
}

@if (IsSectionDefined("Head"))
{
    @RenderSection("Head")
}

@section Styles{
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles")
    }
    @siteNav.StyleTag
}


@if (IsSectionDefined("TopScripts"))
{
    @RenderSection("TopScripts")
}

@siteNav.TopNavHtml
@{
    Html.RenderPartial("_Header");
}
<section>
    @RenderBody()
</section>

@siteNav.FooterHtml

@section BottomScripts
{
    @siteNav.ScriptTag
    @if (IsSectionDefined("BottomScripts"))
    {
        @RenderSection("BottomScripts")
    }
}




