@{
    Layout = "~/Features/Shared/Views/_LayoutBasic.cshtml";
}
@if (IsSectionDefined("Head"))
{
    @RenderSection("Head")
}
@if (IsSectionDefined("Styles"))
{
    @RenderSection("Styles")
}
@if (IsSectionDefined("TopScripts"))
{
    @RenderSection("TopScripts")
}
@{
    Html.RenderPartial("_Header");
}
<section>
    @RenderBody()
</section>
@{
    Html.RenderPartial("_Footer");
}
@if (IsSectionDefined("BottomScript"))
{
    @RenderSection("BottomScript")
}