@using Carsales.Web.Features.Shared.SiteNav
@using Carsales.Web.Infrastructure.AssetMappers
@{
    Layout = "~/Features/Shared/Views/_LayoutBasic.cshtml";
    var siteNav = Html.SiteNav();
}

@if (IsSectionDefined("Head"))
{
    @RenderSection("Head")
}

@section Styles{
    @Html.AssetCss("common-page")
    @siteNav.StyleTag
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles")
    }
}


@if (IsSectionDefined("TopScripts"))
{
    @RenderSection("TopScripts")
}

@siteNav.TopNavHtml

<div class="page-main">
    @{
        Html.RenderPartial("_Header");
    }
    <section>
        @RenderBody()
    </section>
</div>

@siteNav.FooterHtml

@section BottomScripts
{
    @Html.AssetJs("common-page")
    @siteNav.ScriptTag
    @if (IsSectionDefined("BottomScripts"))
    {
        @RenderSection("BottomScripts")
    }
}




